@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  body > div:first-child,
  div#__next,
  div#__next > div {
    @apply min-h-full;
  }
  .rotate {
    animation: rotation 5s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: translate(-50%, -50%) rotate(-90deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(270deg);
    }
  }
}
